{% extends 'base_registr.html' %}
{% load i18n %}
{% load static %}
{% block header %}
    <!--if lt IE 8
  p.error-browser
      | Ваш браузер&nbsp;
      em устарел!&nbsp;
      a(href="http://browsehappy.com/") Выберите новую версию
          +s
          | браузера здесь&nbsp;
      | для правильного отображения сайта.
  -->
    <div class="ControlPanel">
        <div class="wrap">
            <div class="row ControlPanel-row">
                <div class="row-block">
                    <div class="row ControlPanel-rowSplit">
                        <div class="row-block hide_700">
                            <ul class="menu menu_img menu_smallImg ControlPanel-menu">
                                <li class="menu-item"><a class="menu-link" href="#"><img
                                        src="{% static 'assets/img/icons/socialHeader/tw.svg' %}"
                                        alt="tw.svg"/></a>
                                </li>
                                <li class="menu-item"><a class="menu-link" href="#"><img
                                        src="{% static 'assets/img/icons/socialHeader/in.svg' %}"
                                        alt="in.svg"/></a>
                                </li>
                                <li class="menu-item"><a class="menu-link" href="#"><img
                                        src="{% static 'assets/img/icons/socialHeader/pt.svg' %}"
                                        alt="pt.svg"/></a>
                                </li>
                                <li class="menu-item"><a class="menu-link" href="#"><img
                                        src="{% static 'assets/img/icons/socialHeader/mail.svg' %}"
                                        alt="mail.svg"/></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <nav class="row-block">
                    <div class="row ControlPanel-rowSplit">
                        <div class="row-block">
                            <a class="ControlPanel-title"
                               href="{% url 'account:login' %}">{% translate 'Вход' %}</a>
                            <a class="ControlPanel-title"
                               href="{% url 'account:register' %}">{% translate 'Регистрация' %}</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div class="wrap">
        <div class="row Header-rowMain">
            <div class="row-block Header-logo">
                <a class="logo" href="/">
                    <img class="logo-image" src="{% static 'assets/img/logo.png' %}"
                         alt="logo.png"/>
                </a>
            </div>
        </div>

        <div class="wrapper">
            <div class="header">
                <h3 class="sign-in">{% translate 'Восстановление пароля (2/2)' %}</h3>
                <h5>{% translate 'Придумайте новый пароль для учетной записи' %}</h5>
            </div>

            <form method="POST">
                {% csrf_token %}
                {% for field in form %}
                    <div>
                        {{ field }}
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <div class="form-error">
                                    *{{ error }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endfor %}
                <div>
                    <input type="submit" value="{% translate 'Сохранить пароль' %}"/>
                </div>
            </form>
        </div>

    </div>

{% endblock header %}